<h1>Status Embarques</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Status Embarques</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Referencia</th>
            <th>
Fecha Arribo
            </th>
            <th>
                Origen
            </th>
            <th>
                Destino
            </th>
            <th>
                Status
            </th>				
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let receipt of receipts">
            <td>{{receipt.referencia}}</td>
            <td>{{receipt.fechaArribo | date}}</td>
            <td>{{receipt.origen}}</td>
            <td>{{receipt.destino}}</td>
            <td>{{receipt.statusDescription}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{receipt.embarqueId}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteEmbarques(statusBD.embarqueId)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="receipt.isDeleting">
                    <span *ngIf="receipt.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!receipt.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!receipts">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>